<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td>

                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%;max-width:600px" align="center">
                    <tbody>
                        <tr>
                            <td role="modules-container" style="padding:0px 0px 0px 0px;color:#000000;text-align:left" bgcolor="#FFFFFF" width="100%" align="left">
                                <table class="m_575766099072725663preheader" role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="display:none!important;opacity:0;color:transparent;height:0;width:0">
                                    <tbody>
                                        <tr>
                                            <td role="module-content">
                                                <p></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table><table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
                                    <tbody>
                                        <tr>
                                            <td style="padding:18px 0px 0px 0px;line-height:30px;text-align:inherit" height="100%" valign="top" bgcolor="" role="module-content"><div><h2 style="text-align:center">Thông tin đơn hàng</h2><div></div></div></td>
                                        </tr>
                                    </tbody>
                                </table><table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
                                    <tbody>
                                        <tr>
                                            <td style="padding:18px 0px 0px 0px;line-height:22px;text-align:inherit" height="100%" valign="top" bgcolor="" role="module-content">
                                                <div>
                                                    <div style="font-family:inherit;text-align:start">
                                                        <span style="color:#222222;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;text-decoration-style:initial;text-decoration-color:initial;font-size:14px;font-family:arial,helvetica,sans-serif">
                                                            Đơn hàng <b>{{orderCode}}</b><br>
                                                            Thông tin người nhận: <b>{{userName}}</b> <br>
                                                            Địa chỉ: <b>{{address}}</b><br>
                                                            Tên sản phẩm: <b>{{productName}}</b>
                                                        </span>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!--</table><table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
                                        <tbody>
                                            <tr>
                                                <td style="padding:0px 0px 0px 0px;line-height:22px;text-align:inherit" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family:inherit;text-align:inherit"><span style="color:#222222;font-family:arial,helvetica,sans-serif;font-size:14px;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(255,255,255);text-decoration-style:initial;text-decoration-color:initial;float:none;display:inline">Vui lòng nhập mã này trên ứng dụng để tiếp tục.</span></div><div></div></div></td>
                                            </tr>
                                        </tbody>
                                    </table>-->

                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>