@model Ecommerce.ViewModel.Product.ProductCrudModel

@{
    Layout = "~/Views/Shared/_LayoutCrudModel.cshtml";

}


<hr />
<form asp-action="CreateProduct" class="form-horizontal" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <fieldset>
        <!-- Form Name -->
        <legend>CREATE PRODUCT</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
            <div class="col-md-4">
                <input asp-for="ProductName" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_categorie">SELECT CATEGORY</label>
            <div class="col-md-4">
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-control">
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="available_quantity">QUANTITY</label>
            <div class="col-md-4">
                <input asp-for="Quantity" placeholder="0" class="form-control input-md" required="" type="number">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="available_quantity">PRICE</label>
            <div class="col-md-4">
                <input asp-for="Price" placeholder="PRICE" class="form-control input-md" required="" type="number">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
            <div class="col-md-4">
                <textarea asp-for="ProductDescription" class="form-control" id="product_description" name="product_description"></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
        </div>

        @*         <!-- Text input-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="percentage_discount">PERCENTAGE DISCOUNT</label>
        <div class="col-md-4">
        <input id="percentage_discount" name="percentage_discount" placeholder="PERCENTAGE DISCOUNT" class="form-control input-md" required="" type="text">

        </div>
        </div> *@

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="approuved_by">UPLOAD FILE IMAGE</label>
            <div class="col-md-4">

                <!-- File Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="filebutton">main_image</label>
                    <div class="col-md-4">
                        <input asp-for="FileImage" class="input-file" type="file">
                    </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
                    <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
