@model Ecommerce.ViewModel.Cart.CartPanelViewModel
<a asp-action="Index" asp-controller="Cart" class="btn border">
    <i class="fas fa-shopping-cart text-primary"></i>
    <span class="badge">@Model.TotalQuantity</span>
</a>