@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-5">
                    <h2 class="display-5 fw-bold text-center">Reset Password</h2>
                    <p class="text-center m-0">Don't have an account? <a style="color:#D19C97" href="#!">Sign up</a></p>
                    <p class="text-center m-0"> <a style="color:#D19C97" asp-action="Login" asp-controller="User">Back to Login</a></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row gy-5 justify-content-center">
                    <div class="col-12 col-lg-5">
                        <form asp-action="ResetPassword" asp-controller="User">
                            <div class="row gy-3 overflow-hidden">

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input class="form-control border-0 border-bottom rounded-0" name="email" id="email" placeholder="name@example.com" required/>
                                        <label class="form-label">Email</label>
                                    </div>
                                </div>
                                @if (Model?.ErrorMessage != null)
                                {
                                    <p class="text-danger">*@Html.Raw(Model.ErrorMessage)</p>
                                }
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-dark rounded-0 fs-6" type="submit">Search</button>
                                    </div>
                                </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
