@model Ecommerce.ViewModel.Category.CategoryViewModel

@{
    Layout = "~/Views/Shared/_LayoutCrudModel.cshtml";
    ViewData["Title"] = "CreateCategory";
}

<form asp-action="CreateCategory" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>
        <legend>CREATE PRODUCT</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">CATEGORY NAME</label>
            <div class="col-md-4">
                <input asp-for="Name" placeholder="CATEGORY NAME" class="form-control input-md" required="" type="text">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
            </div>
        </div>
    </fieldset>
</form>

<div class="align-items-center">
    <a asp-action="Index">Back to List</a>
</div>